<article>

  <section class="titulo animate__animated animate__zoomInDown" id="texto-inicio" style="animation-delay: 0.1s;">
    <h1>Pizzas</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rutrum enim ac sem auctor, ut rhoncus nisl
      placerat. Nulla iaculis sem lectus. Vivamus luctus vestibulum risus in tempor. Nam condimentum finibus diam, sed
      commodo mauris tincidunt eu. Quisque volutpat urna nisi, eu condimentum orci facilisis non. Aenean eu eleifend
      urna, eu volutpat felis. Suspendisse sit amet ligula accumsan, porta eros nec, vestibulum eros. Donec scelerisque
      egestas varius. Quisque sit amet feugiat diam.F
    </p>
  </section>

  <section class="row titulo animate__animated animate__backInLeft" style="animation-delay: 1s;">
    <div class="col">
      <div class="contenedor call g-col-6">
        <img src="../../../assets/img/Pizza 2.jpg" alt="">
        <p class="nombre-pizza">Clásica</p>
      </div>
    </div>
    <div class="col titulo animate__animated animate__backInLeft" style="animation-delay: 1.5s;">
      <h2>Pizza clásica</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rutrum enim ac sem auctor, ut rhoncus nisl
        placerat. Nulla iaculis sem lectus. Vivamus luctus vestibulum risus in tempor. Nam condimentum finibus diam, sed
        commodo mauris tincidunt eu. Quisque volutpat urna nisi, eu condimentum orci facilisis non. Aenean eu eleifend
        urna, eu volutpat felis. Suspendisse sit amet ligula accumsan, porta eros nec, vestibulum eros. Donec
        scelerisque
        egestas varius. Quisque sit amet feugiat diam.F</p>
    </div>
  </section>

  <section class="row titulo animate__animated animate__backInRight" style="animation-delay: 2.5s;">
    <div class="col">
      <h2>Pizza clásica</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rutrum enim ac sem auctor, ut rhoncus nisl
        placerat. Nulla iaculis sem lectus. Vivamus luctus vestibulum risus in tempor. Nam condimentum finibus diam, sed
        commodo mauris tincidunt eu. Quisque volutpat urna nisi, eu condimentum orci facilisis non. Aenean eu eleifend
        urna, eu volutpat felis. Suspendisse sit amet ligula accumsan, porta eros nec, vestibulum eros. Donec
        scelerisque
        egestas varius. Quisque sit amet feugiat diam.F</p>
    </div>
    <div class="col titulo animate__animated animate__backInRight" style="animation-delay: 2s;">
      <div class="contenedor call g-col-6">
        <img src="../../../assets/img/Pizza 1.jpg" alt="">
        <p class="nombre-pizza">Clásica</p>
      </div>
    </div>
  </section>

  <section class="row titulo animate__animated animate__backInLeft" style="animation-delay: 3s;">
    <div class="col">
      <div class="contenedor call g-col-6">
        <img src="../../../assets/img/Pizza 4.jpg" alt="">
        <p class="nombre-pizza">Clásica</p>
      </div>
    </div>
    <div class="col titulo animate__animated animate__backInLeft" style="animation-delay: 3.5s;">
      <h2>Pizza clásica</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rutrum enim ac sem auctor, ut rhoncus nisl
        placerat. Nulla iaculis sem lectus. Vivamus luctus vestibulum risus in tempor. Nam condimentum finibus diam, sed
        commodo mauris tincidunt eu. Quisque volutpat urna nisi, eu condimentum orci facilisis non. Aenean eu eleifend
        urna, eu volutpat felis. Suspendisse sit amet ligula accumsan, porta eros nec, vestibulum eros. Donec
        scelerisque
        egestas varius. Quisque sit amet feugiat diam.F</p>
    </div>
  </section>

  <section class="row titulo animate__animated animate__backInRight" style="animation-delay: 4.5s;">
    <div class="col">
      <h2>Pizza clásica</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rutrum enim ac sem auctor, ut rhoncus nisl
        placerat. Nulla iaculis sem lectus. Vivamus luctus vestibulum risus in tempor. Nam condimentum finibus diam, sed
        commodo mauris tincidunt eu. Quisque volutpat urna nisi, eu condimentum orci facilisis non. Aenean eu eleifend
        urna, eu volutpat felis. Suspendisse sit amet ligula accumsan, porta eros nec, vestibulum eros. Donec
        scelerisque
        egestas varius. Quisque sit amet feugiat diam.F</p>
    </div>
    <div class="col titulo animate__animated animate__backInRight" style="animation-delay: 4s;">
      <div class="contenedor call g-col-6">
        <img src="../../../assets/img/Pizza 3.jpg" alt="">
        <p class="nombre-pizza">Clásica</p>
      </div>
    </div>
  </section>

  <section class="row titulo animate__animated animate__backInLeft" style="animation-delay: 5s;">
    <div class="col">
      <div class="contenedor call g-col-6">
        <img src="../../../assets/img/Pizza 5.jpg" alt="">
        <p class="nombre-pizza">Clásica</p>
      </div>
    </div>
    <div class="col titulo animate__animated animate__backInLeft" style="animation-delay: 5.5s;">
      <h2>Pizza clásica</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent rutrum enim ac sem auctor, ut rhoncus nisl
        placerat. Nulla iaculis sem lectus. Vivamus luctus vestibulum risus in tempor. Nam condimentum finibus diam, sed
        commodo mauris tincidunt eu. Quisque volutpat urna nisi, eu condimentum orci facilisis non. Aenean eu eleifend
        urna, eu volutpat felis. Suspendisse sit amet ligula accumsan, porta eros nec, vestibulum eros. Donec
        scelerisque
        egestas varius. Quisque sit amet feugiat diam.F</p>
    </div>
  </section>

</article>

